<div class="card container mt-5">
    <div class="row g-0 ">
        <!-- Left side for book image -->
        <div class="col-md-6 d-flex align-items-center ">
            <img [src]="car?.imageUrl" class="img-fluid rounded-start rounded-end" style="height:80% " alt="Car Image">
        </div>
        
        <!-- Right side for book details -->
        <div class="col-md-6  rentDetails d-flex align-items-center mx-auto">
            <div class="card-body">
                <h3 class="card-title">Car Detail</h3>
                <h4 class="card-text">Maker: {{car?.maker}}</h4>
                <h5 class="card-text">Model: {{car?.model}}</h5>
                <h5 class="card-text">RentalPrice: ₹ {{car?.rentalPrice}}/day</h5>
                <!-- Button to borrow the book -->
                <!-- <a class="btn btn-primary col-md-5" >Create Agreement</a> -->
                <div class="d-grid gap-2 col-md-5">
                    <button type="submit" class="btn btn-primary" routerLink="/login">Login to Rent This Car</button>
                </div>
            </div>
        </div>
    </div>
</div>